@keyframes stop-scrolling {
    from {
        overflow: hidden;
    } 99% {
        overflow: hidden;
    } to {
        overflow: initial;
    }
}

body {
    scroll-behavior: smooth;
    font-family: sans-serif;
    margin: 0;

    font-size: 1.1rem;
    animation: stop-scrolling 1.7s 0s forwards;
}

body.finished {
    animation: stop-scrolling 0s 0s forwards;
}

body.light {
    --accent: #008cff;
    --accent-transparent: #008dffdd;
}

@keyframes snap {
    from{
        letter-spacing: 1em;
        font-size: 4em;
    } to {
        letter-spacing: normal;
        font-size: 3em;
    }
}

@keyframes bluify {
    from {
        background-color: white;
        color: black;
    } to {
        background-color: var(--accent);
        color: white;
    }
}

@keyframes shrink {
    from {
        height: 100vh;
    } to {
        height: 4em;
    }
}

@keyframes reduce-margin {
    from {
        margin-left: 3em;
        font-size: 3em;
    } to {
        margin-left: 1em;
        font-size: 1.5em;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes shift-background {
    from {
        background-position: 0px 0px;
    } to {
        background-position: 0px -30px;
    }
}

#heading-picture {
    image-rendering: pixelated;
    color: black;
    background-color: white;
    background-image: url("img/headertexture.png");
    background-attachment: fixed;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    animation: bluify 300ms 1.1s forwards cubic-bezier(1,-0.01,1,-0.12),
               shrink 1s 1.7s forwards,
               shift-background 1s infinite linear;
}

#heading-picture.finished {
    animation: bluify 0ms 0ms forwards cubic-bezier(1,-0.01,1,-0.12),
        shrink 0ms 0ms forwards,
        shift-background 1s infinite linear;
}

#heading-picture h1 {
    cursor: default;
    margin: 0;
    margin-left: 3em;

    font-size: 4em;
    animation: snap 1s 400ms forwards cubic-bezier(.73,.01,.97,-0.36), reduce-margin 1000ms 1700ms forwards;
    letter-spacing: 1em;
}

#heading-picture.finished h1 {
    animation: snap 0ms 0ms forwards cubic-bezier(.73,.01,.97,-0.36),
        reduce-margin 0ms 0ms forwards;
}

#heading-picture h1::selection {
    background-color: inherit;

}

#heading-picture h1::after {
    content: "'s Website";
    color: white;
    opacity: 0;

    animation: appear 300ms 1100ms forwards cubic-bezier(1,-0.01,1,-0.12);
}

#heading-picture.finished h1::after {
    animation: appear 0ms 0ms forwards cubic-bezier(1,-0.01,1,-0.12);
}


#topbar {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: -20pt;
    right: -20pt;
    height: 3.5em;

    z-index: 10;

    display: flex;
    vertical-align: middle;
    justify-content: center;
    line-height: 2.5em;
    font-weight: bolder;

    opacity: 0;
    animation: appear 300ms 1100ms forwards cubic-bezier(1,-0.01,1,-0.12);

    box-shadow: 0 -5pt 5pt #00000022;

    background: linear-gradient(var(--accent), var(--accent) 30%, var(--accent-transparent));

    padding: 0.5em 1em;
}

#topbar.finished {
    animation: appear 0ms 0ms forwards cubic-bezier(1,-0.01,1,-0.12);
}

#topbar > * {
    margin-right: 1em;
    margin-left: 1em;
} 

#main-content {
    scroll-padding: 5.5em;
    margin: 8em;
    margin-bottom: 1em;
    margin-top: 2em;
}

@media screen and (max-width: 50rem){
    body {
        font-size: 1rem;
    }

    #main-content {
        margin: 4em;
    }
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

.page-header {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.page-sub {
    margin-top: 0px;
}

.topbar-link {
    color: white;
    text-decoration: none;
}

a {
    color: var(--accent);
    text-decoration: underline 0.2em var(--accent-transparent);
    text-decoration-skip-ink: none;
}

#beautiful-display {
    margin-top: 1em;
    width: 100%;
    height: 30em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
}

#beautiful-display div {
    cursor: pointer;
    overflow: hidden;
    transition-duration: 200ms;
    position: relative;
}

#beautiful-display div:hover {
    z-index: 4;
    box-shadow: 0 0 25px #000000aa;
    filter: brightness(1.1);
}

#beautiful-display .main-project {
    border-top-right-radius: 7pt;
    border-top-left-radius: 7pt;

    z-index: 3;
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#beautiful-display .side-project-1 {
    z-index: 2;

    border-bottom-left-radius: 7pt;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#beautiful-display .side-project-2 {
    z-index: 1;

    border-bottom-right-radius: 7pt;
    background-color: #2f2f2f;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#beautiful-display div h2 {
    color: white;
    font-size: 1.6em;
    z-index: inherit;
    position: absolute;
    top: 20pt;
    left: 20pt;
    margin: 0;

    border-radius: 0.5em;

    filter: drop-shadow(0 0 5pt rgb(0,0,0))
}

#beautiful-display div img {
    transform: rotate(0deg) translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 1s;
}

#beautiful-display div:hover img {
    transform: rotate(5deg) translate(-50%, -40%);
}

#footer {
    font-size: 0.7em;
}

@keyframes enter {
    from {
        margin-left: 0.5em;
    } 50% {
        margin-left: 1em;
    } to {
        margin-left: 0.5em;
    }
}

li[link] {
    transition-property: color;
    transition-duration: 300ms;
    cursor: pointer;
}

li[link]::after {
    content: "< Visit!";
    opacity: 0;
    transition-duration: 300ms;
    transition-property: opacity;
    animation: enter 1s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
    margin-left: 0.5em;
}

li[link]:hover::after {
    opacity: 1;
}

li[link]:hover {
    color: var(--accent);
}